# Bonus: Temperature Analysis I

In [51]:
import pandas as pd
from datetime import datetime as dt

In [52]:
# "tobs" is "temperature observations"

measurements_df = pd.read_csv('data/hawaii_measurements.csv')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [53]:
# Determining the date column's current format

measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [54]:
# Convert the date column format from string to datetime

measurements_df['date']= pd.to_datetime(measurements_df['date'])

In [55]:
# Confirming that the date column is in datetime format

measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [56]:
# Set the date column as the DataFrame index

measurements_df.set_index('date',inplace = True)
measurements_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [57]:
from scipy import stats

In [58]:
# Filter data for desired months

june_df = measurements_df[measurements_df.index.month == 6]
december_df = measurements_df[measurements_df.index.month == 12]

In [59]:
june_df

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [60]:
december_df

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [61]:
# Identify the average temperature for June

june_df.tobs.mean()

74.94411764705882

In [62]:
# Identify the average temperature for December

december_df.tobs.mean()

71.04152933421226

In [63]:
# Create collections of temperature data

june_temperatures = june_df.tobs
december_temperatures = december_df.tobs

In [64]:
# Run unpaired t-test (because the means are of two unrelated groups)

t_test_unpaired = stats.ttest_ind(june_temperatures,december_temperatures, equal_var = True)
t_test_unpaired

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)